/* style.css */
/**
 * Fix user-agent
 */
 * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /**
   * Canvas
   */
  .whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  .controls {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 10px;
  }
  
  .colors, .brush-size, .brush-modes {
    margin-bottom: 10px;
  }
  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }
  
  .brush-size label, .brush-modes label {
    margin-right: 5px;
  }